{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block flex justify-center">
        <ul class="pagination flex">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn mr-4">
                    <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                    " href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="first btn disabled hidden mr-4">
                    <button disabled>First</button>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn mr-4">
                    <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                    " href="{{ posts.pagination.prev.link }}">Previous</a>
                </li>
            {% else %}
                <li class="prev btn disabled hidden mr-4">
                    <button disabled>Previous</button>
                </li>
            {% endif %}

                <pre>
                    {{ dump(posts.pagination.pages) }}
                </pre>
            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class=" mr-4">
                        <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                        " href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current mr-4">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn mr-4">
                    <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                    " href="{{ posts.pagination.next.link }}">Next</a>
                </li>
            {% else %}
                <li class="next btn disabled hidden mr-4">
                    <button disabled>Next</button>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn mr-4">
                    <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                    " href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="last btn disabled hidden mr-4">
                    <button disabled>Last</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
