{% extends "base.twig" %}

{% block content %}



{% for post in posts %}

<div class="w-full lg:flex mb-6 pt-4 shadow-lg">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-center  object-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{ post.thumbnail.src }}')" title="Woman holding a mug">
    </div>
    <div class="group hover:bg-red-600 rounded-r-lg p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <a href="{{ post.link }}"class="text-black font-bold text-xl mb-2 group-hover:text-white">{{ post.post_title }}</a>
        <p class="text-grey-darker text-base pt-6 group-hover:text-white">{{ post.content|excerpt(50)}}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-blue-500 font-semibold text-xs mb-1 leading-none pb-2 group-hover:text-white">{{ post.category }}</p>
          <p class="text-black leading-none pb-2 group-hover:text-white">{{ post.author }}</p>
          <p class="text-grey-dark group-hover:text-white">{{ post.date }}</p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}


{% if posts.pagination.pages is not empty %}
<nav class="pagination-block flex justify-center w-full">
    <ul class="pagination flex">

        {# First 
        {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
            <li class="first btn mr-4">
                <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                " href="{{ posts.pagination.pages|first.link }}">First</a>
            </li>
        {% else %}
            <li class="first btn disabled hidden mr-4">
                <button disabled>First</button>
            </li>
        {% endif %}#}

        {# Previous #}
        {% if posts.pagination.prev %}
            <li class="prev btn mr-2">
                <a  class="text-gray-600 p-0  md:p-2 border-lg border-color-gray-600
                " href="{{ posts.pagination.prev.link }}">Previous</a>
            </li>
        {% else %}
            <li class="prev btn disabled hidden mr-2">
                <button disabled>Previous</button>
            </li>
        {% endif %}
        {# Pages #}
        {% for page in posts.pagination.pages %}
            {% if page.link %}
                <li class=" mr-2">
                    <a  class="text-gray-600 p-0  md:p-2 border-lg border-color-gray-600
                    " href="{{ page.link }}">{{ page.title }}</a>
                </li>
            {% else %}
                <li class="current mr-4">
                    <span class="{{ page.class }}">{{ page.title }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {# Next #}
        {% if posts.pagination.next %}
            <li class="next btn mr-2">
                <a  class="text-gray-600 p-0 md:p-2 border-lg border-color-gray-600
                " href="{{ posts.pagination.next.link }}">Next</a>
            </li>
        {% else %}
            <li class="next btn disabled hidden mr-4">
                <button disabled>Next</button>
            </li>
        {% endif %}

        {# Last 
        {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
            <li class="last btn mr-4">
                <a  class="text-gray-600 p-2 border-lg border-color-gray-600
                " href="{{ posts.pagination.pages|last.link }}">Last</a>
            </li>
        {% else %}
            <li class="last btn disabled hidden mr-4">
                <button disabled>Last</button>
            </li>
        {% endif %}#}

    </ul>
</nav>
{% endif %}

{% endblock content %}
