{{ include('components/html-header.twig') }}
    <body class="{{body_class}}" data-template="base.twig">
        <header class="header mx-auto" >
            {{ include('components/nav.twig') }}
        </header>
        <div class="container mx-auto py-12">
            {% block content %}
                Empty :(
            {% endblock content %}
        </div>
        <footer id="footer" class="bg-white pt-8 w-full">
            {{ include('components/footer.twig') }}
        </footer>
        {{function('wp_footer')}}
    </body>
</html>